//
// Config
//

@use "sass:meta";
@use "variables";

@use "settings";

@include foundation-everything;
@include foundation-flex-classes;
@include foundation-flex-grid;

//pull in du-specific scss that is not in the patterns dir
@include meta.load-css("global");
@include meta.load-css("../du-resources/base/fontello.scss");
@include meta.load-css("../du-resources/base/tabs.scss");
@include meta.load-css("../du-resources/base/typography.scss");

//@import "../du-resources/overrides/*.scss";

@include meta.load-css("../du-resources/overrides/_fatv18.scss");
@include meta.load-css("../du-resources/overrides/_find-an-expert.scss");
@include meta.load-css("../du-resources/overrides/_fontface.scss");
@include meta.load-css("../du-resources/overrides/_gallery-date.scss");
@include meta.load-css("../du-resources/overrides/_policy.scss");
@include meta.load-css("../du-resources/overrides/_repsonsive-iframe.scss");
@include meta.load-css("../du-resources/overrides/_training.scss");
@include meta.load-css("../du-resources/overrides/_tuition-calculator.scss");
@include meta.load-css("../du-resources/overrides/academic-programs.scss");
@include meta.load-css("../du-resources/overrides/activity-card.scss");
@include meta.load-css("../du-resources/overrides/admission-steps.scss");
@include meta.load-css("../du-resources/overrides/alert.scss");
@include meta.load-css("../du-resources/overrides/application-cards.scss");
@include meta.load-css("../du-resources/overrides/article-list.scss");
@include meta.load-css("../du-resources/overrides/article-teaser.scss");
@include meta.load-css("../du-resources/overrides/article.scss");
@include meta.load-css("../du-resources/overrides/author.scss");
@include meta.load-css("../du-resources/overrides/blockquote.scss");
@include meta.load-css("../du-resources/overrides/captcha.scss");
@include meta.load-css("../du-resources/overrides/captioned-image.scss");
@include meta.load-css("../du-resources/overrides/card-list-module.scss");
@include meta.load-css("../du-resources/overrides/cards.scss");
@include meta.load-css("../du-resources/overrides/category-list.scss");
@include meta.load-css("../du-resources/overrides/cludo-search.scss");
@include meta.load-css("../du-resources/overrides/contact-single.scss");
@include meta.load-css("../du-resources/overrides/contacts.scss");
@include meta.load-css("../du-resources/overrides/content-elements.scss");
@include meta.load-css("../du-resources/overrides/content-gallery-slider.scss");
@include meta.load-css("../du-resources/overrides/content-gallery.scss");
@include meta.load-css("../du-resources/overrides/copy.scss");
@include meta.load-css("../du-resources/overrides/core-inline-nav.scss");
@include meta.load-css("../du-resources/overrides/counselor.scss");
@include meta.load-css("../du-resources/overrides/courses.scss");
@include meta.load-css("../du-resources/overrides/cta-inline.scss");
@include meta.load-css("../du-resources/overrides/cta.scss");
@include meta.load-css("../du-resources/overrides/dropdown-video.scss");
@include meta.load-css("../du-resources/overrides/drupal.scss");
@include meta.load-css("../du-resources/overrides/du-in-the-news.scss");
@include meta.load-css("../du-resources/overrides/elevate-cards-list.scss");
@include meta.load-css("../du-resources/overrides/elevate-course.scss");
@include meta.load-css("../du-resources/overrides/elevate-filters.scss");
@include meta.load-css("../du-resources/overrides/enhanced-expanding-list.scss");
@include meta.load-css("../du-resources/overrides/event-card.scss");
@include meta.load-css("../du-resources/overrides/events.scss");
@include meta.load-css("../du-resources/overrides/example-classes.scss");
@include meta.load-css("../du-resources/overrides/experiential-story-slide.scss");
@include meta.load-css("../du-resources/overrides/experiential-story.scss");
@include meta.load-css("../du-resources/overrides/expert-list-item.scss");
@include meta.load-css("../du-resources/overrides/feature-video.scss");
@include meta.load-css("../du-resources/overrides/featured-article-slider.scss");
@include meta.load-css("../du-resources/overrides/filter-button.scss");
@include meta.load-css("../du-resources/overrides/find-stories.scss");
@include meta.load-css("../du-resources/overrides/fonts.scss");
@include meta.load-css("../du-resources/overrides/footer.scss");
@include meta.load-css("../du-resources/overrides/forms.scss");
@include meta.load-css("../du-resources/overrides/foundation-ext.scss");
@include meta.load-css("../du-resources/overrides/handbook.scss");
@include meta.load-css("../du-resources/overrides/hero-media-items.scss");
@include meta.load-css("../du-resources/overrides/hero-media.scss");
@include meta.load-css("../du-resources/overrides/home.scss");
@include meta.load-css("../du-resources/overrides/image-with-caption.scss");
@include meta.load-css("../du-resources/overrides/information-overview.scss");
@include meta.load-css("../du-resources/overrides/key-faculty.scss");
@include meta.load-css("../du-resources/overrides/large-image.scss");
@include meta.load-css("../du-resources/overrides/layout.scss");
@include meta.load-css("../du-resources/overrides/list-filter.scss");
@include meta.load-css("../du-resources/overrides/list-pager.scss");
@include meta.load-css("../du-resources/overrides/listing-filters.scss");
@include meta.load-css("../du-resources/overrides/listing.scss");
@include meta.load-css("../du-resources/overrides/main-navigation.scss");
@include meta.load-css("../du-resources/overrides/mega-flyout.scss");
@include meta.load-css("../du-resources/overrides/mini-event-feed.scss");
@include meta.load-css("../du-resources/overrides/modal.scss");
@include meta.load-css("../du-resources/overrides/news-carousel.scss");
@include meta.load-css("../du-resources/overrides/newsroom.scss");
@include meta.load-css("../du-resources/overrides/pager.scss");
@include meta.load-css("../du-resources/overrides/print.scss");
@include meta.load-css("../du-resources/overrides/profile.scss");
@include meta.load-css("../du-resources/overrides/push-menu.scss");
@include meta.load-css("../du-resources/overrides/quotes.scss");
@include meta.load-css("../du-resources/overrides/recent-content.scss");
@include meta.load-css("../du-resources/overrides/records.scss");
@include meta.load-css("../du-resources/overrides/related-stories.scss");
@include meta.load-css("../du-resources/overrides/research-project-teaser.scss");
@include meta.load-css("../du-resources/overrides/research-project.scss");
@include meta.load-css("../du-resources/overrides/resource.scss");
@include meta.load-css("../du-resources/overrides/reusable-content.scss");
@include meta.load-css("../du-resources/overrides/scholarship.scss");
@include meta.load-css("../du-resources/overrides/search.scss");
@include meta.load-css("../du-resources/overrides/shared-content-block.scss");
@include meta.load-css("../du-resources/overrides/stories.scss");
@include meta.load-css("../du-resources/overrides/sub-menu.scss");
@include meta.load-css("../du-resources/overrides/swapping-img-feature.scss");
@include meta.load-css("../du-resources/overrides/tab-menu.scss");
@include meta.load-css("../du-resources/overrides/table.scss");
@include meta.load-css("../du-resources/overrides/taxonomy-term-page.scss");
@include meta.load-css("../du-resources/overrides/testimonial_spotlight.scss");
@include meta.load-css("../du-resources/overrides/three-col-facts.scss");
@include meta.load-css("../du-resources/overrides/top-bar-main-menu.scss");
@include meta.load-css("../du-resources/overrides/two-column-copy.scss");
@include meta.load-css("../du-resources/overrides/ui-datepicker.scss");
@include meta.load-css("../du-resources/overrides/utility-menu.scss");
@include meta.load-css("../du-resources/overrides/webform.scss");
@include meta.load-css("../du-resources/overrides/wide-carousel.scss");

//@import "../du-resources/units/*.scss";
//@import "../du-resources/micro/*.scss";
