<ul class="menu mega-flyout mega-menu--dropdown">
  <li>
    <div class="row">
      <ul class="">
        {% for link in links %}
          <li>{{ link }}</li>
        {% endfor %}
      </ul>
    </div>
  </li>
</ul>
