{% if catastrophic_alert %}
    {{ page.content_top }}
    {{ page.content }}
{% else %}
    {% embed "@organisms/header-unit.twig" %}
        {% block mega_nav %}
            {# No mega nav on maintenance page. #}
        {% endblock %}
    {% endembed %}
    <div class="row">
        {{ page.content }}
    </div>
{% endif %}
